/* CSS declarations go here */
body
{
	font-family:Verdana;
	color:#fff;
	/*background-color:#501d1b;
	background-image: linear-gradient(to bottom, #501d1b, #000 100%);*/
	background-color:#003d6b;
	background-image:linear-gradient(to bottom, #003d6b, #000 100%);
	background-attachment:fixed;
}
.wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	border-radius: 5px;
	/*color:#333;
	background-color:#fcfeec;*/
	color:#ddd;
	background-color:#ccc9dc;
	padding:4px;
}
.wrapper h1,h2,h3,h4,h5,h6
{
	text-align:center;
}
/* Header style starts here */
.header
{
	background-image:url("header.png");
	height:150px;
	width:900px;
	vertical-align:middle;
	display:table-cell;
	position:relative;
	color:#ddd;
	font-size:1.7em;
	text-shadow:1px 1px 0 #333,
	-3px -3px 0 #333,
	3px -3px 0 #333,
	-3px 3px 0 #333,
	0px 3px 0 #333,
	3px 0px 0 #333,
	0px -3px 0 #333,
	-3px 0px 0 #333;
}
.header-center
{
	position:absolute;
	margin-left:auto;
	margin-right:auto;
}
/* Header style ends here
 *
 * Login area style starts here */
.login
{
	margin-left:auto;
	margin-right:auto;
	color:#333;
	text-align:center;
}
.logout
{
	float:left;
}
/* Login area style ends here
 *
 * User area style starts here */
.user
{
	float: left;
	width: 350px;
	/*background-color:#8e8f77;*/
	background-color:#0c1821;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.userdata
{
	padding:10px;
}
.statUpdate
{
	text-align:center;
}
.stats
{
	float:left;
}
.trophy
{
	float:right;
	width:125px;
	padding:10px;
}
.trophy img
{
	float:right;
}
.user button
{
	width:75px;
	height:25px;
	font-weight:bold;
	font-size:10pt;
}
.user button.leave,button.kick,button.makeAdmin
{
	width:auto;
}
.user input.groupName
{
	height:25px;
	font-weight:bold;
	font-size:10pt;
}
.changeDN
{
	font-size:75%;
}
/* Group stuff style starts here */
.groupleft
{
	float:left;
	line-height:1.5;
}
.groupright
{
	float:right;
}
.groupright input
{
	width:140px;
}
/* User stat bar style starts here */
.statbar
{
	width:300px;
	border-radius:10px;
	background-color:#fff;
	height:40px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}
.rejs
{
	background-color:#ff0000;
	height:40px;
	float:left;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
}
.nonRej
{
	height:40px;
	float:right;
}
.accs
{
	background-color:#00ff00;
	height:40px;
	float:right;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
.wds
{
	background-color:#555;
	height:40px;
	float:left;
}
/* User stat bar style ends here */
/* User area style ends here
 *
 * Leaderboard area style starts here */
.leaderboard
{
	float: right;
	width: 550px;
	/*background-color: #daa42f;*/
	background-color:#324a5f;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.leaderboard ul
{
	list-style-type:none;
	list-style-position:outside;
}
.leaderboard .score
{
	float:left;
	width:100px;
	padding:0px;
	text-align:right;
	vertical-align:text-top;
	padding-top:1px;
}
.leaderboard .name
{
	float:none;
	margin-left:auto;
	padding:0px;
	margin-right:auto;
	width:200px;
	text-align:center;
	vertical-align:text-top;
	padding-top:1px;
}
.leaderboard .stats
{
	float:right;
	width:100px;
	padding:0px;
	text-align:left;
	vertical-align:text-top;
	padding-top:1px;
}
/* Leaderbaord area style ends here
 *
 * Notice area style starts here */
.notice
{
	width:900px;
	text-align:center;
	font-size:75%;
	color:#333;
}
.notice a
{
	text-decoration:none;
	font-weight:bold;
	color:#000;
}
/* Notice area style ends here
 *
 * Miscellaneous other styling starts here */
.clear{clear:both;}
