/* CSS declarations go here */
body
{
	font-family:Verdana;
	color:#fff;
	background-color:#501d1b;
	background-image: linear-gradient(to bottom, #501d1b, #000 100%);
	background-attachment:fixed;
}
.wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	border-radius: 5px;
	color:#333;
	background-color:#fcfeec;
	padding:4px;
}
.wrapper h1
{
	text-align:center;
}
.login
{
	float:left;
}
.user
{
	float: left;
	width: 350px;
	background-color:#8e8f77;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.userdata
{
	padding:10px;
}
/* User stat bar */
.statbar
{
	width:300px;
	border-radius:10px;
	background-color:#fff;
	height:40px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}
.rejs
{
	background-color:#ff0000;
	height:40px;
	float:left;
}
.accs
{
	background-color:#00ff00;
	height:40px;
	margin-left:auto;
	margin-right:auto;
}
.wds
{
	background-color:#555;
	height:40px;
	float:right;
}
.leaderboard
{
	float: right;
	width: 550px;
	background-color: #daa42f;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.leaderboard ul
{
	list-style-type:none;
	list-style-position:outside;
}
.leaderboard .score
{
	float:left;
	width:100px;
	padding:0px;
	text-align:right;
}
.leaderboard .name
{
	float:none;
	margin-left:auto;
	padding:0px;
	margin-right:auto;
	width:200px;
	text-align:center;
}
.leaderboard .stats
{
	float:right;
	width:100px;
	padding:0px;
	text-align:left;
}
.notice
{
	width:900px;
	text-align:center;
	font-size:75%;
}
.clear{clear:both;}
